<div class="panel panel-default">
  <div class="panel-body">
    <h4><%= book.title %></h4>
    <ul>
      <li><%= book.author_name %></li>
      <li><%= book.publisher.name %></li>
      <li><%= book.average_rating %></li>
    </ul>
  </div>
</div>

