<div class="panel panel-default">
  <div class="panel-body">
    <h4><%= book.title.capitalize %>
    <% book.average_rating.to_i.times do %>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <% end %> </h4>
    <strong>Author: </strong>
    <%= book.author_name %></br>
    <strong>Publisher: </strong>
    Publisher <%= book.publisher.name %></br>
  </div>
</div>

