</br>
<form>
  <fieldset class="form-group">
    <label for="exampleInputEmail1">Search</label>
    <input type="email" class="form-control" id="book-search" placeholder="catcher in the, Jerome">
  </fieldset>
</form>
<% @books.each do |book| %>
  <%= render partial: 'book', locals: { book: book } %>
<% end %>
