<ul class="nav nav-tabs">
  <li class="nav-item"><%= link_to 'Books', root_path, class: 'nav-link active' %></li>
  <li class="nav-item"><%= link_to 'Author', authors_index_path, class: 'nav-link active' %></li>
  <li class="nav-item"><%= link_to 'Publisher', '', class: 'nav-link active' %></li>
</ul>

